<form (ngSubmit)="send()">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">1 BTC: </label>
    <label class="col-sm-9 col-form-label">{{ socket.btc_usd | number:'0.4-4' }} USD</label>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Balance: </label>
    <label class="col-sm-9 col-form-label">{{ socket.btc_balance | number:'0.8-8' }} BTC</label>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Wallet Address: </label>
    <div class="col-sm-9">
      <input type="text" name="address" class="form-control" id="wallet_address"
        placeholder="Enter wallet address here..." [(ngModel)]='sendData.target'>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-3 col-form-label">Amount: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="amount" id="amount" placeholder="Enter amount here..."
        [(ngModel)]='sendData.amount'>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Total Deductible to balance: </label>
    <label class="col-sm-9 col-form-label">
      {{ addFee()  }}
    </label>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Important: </label>
    <label class="col-sm-9 col-form-label">
      Transaction fee will be 0.0001 BTC
    </label>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div *ngIf='showError' class=" alert alert-danger mt-2" role="alert">
        {{error.message}}
      </div>
      <div *ngIf='showResult' class=" alert alert-success mt-2" role="alert">
        {{result.message}}
      </div>
    </div>
  </div>

  <div *ngIf='loading' class='loading'>
    <img class='img-fluid' src='assets/loading.gif' alt="" />
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <button *ngIf='!loading' type="submit" class="btn btn-primary"
        [disabled]="sendData.target == '' || sendData.amount < 0.0001 || socket.btc_balance < addFee()">Send</button>
    </div>
  </div>
</form>
