<div class="animated fadeIn">
    <div class="row" *ngIf="btc_conversion_submitted < socket.BtcConversionTarget">
        <div class="col-sm-12 col-md-12">
            <h3>Bazaar Creation</h3>
            <hr>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="card text-white bg-success text-center">
                <div class="card-body">
                    <h4>BTC Conversion Target : {{ socket.BtcConversionTarget }} BTC</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="card text-white bg-info text-center">
                <div class="card-body">
                    <h4>BTC Conversion Submitted : {{ btc_conversion_submitted }} BTC</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="card border-danger">
                <div class="card-body">
                    <p>
                        <strong>Note :</strong> Bazaar application form will be enable once you reach the BTC Conversion Target. Enjoy the selling and buying experience of commodities, services or any leagal means accepted by the law inside Crypto Bazaar.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="btc_conversion_submitted >= socket.BtcConversionTarget && !bazaar_flag">
        <div class="col-sm-6 col-md-6">
            <div class="card text-white bg-success text-center">
                <div class="card-body">
                    <h4>BTC Conversion Target : {{ socket.BtcConversionTarget }} BTC</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="card text-white bg-info text-center">
                <div class="card-body">
                    <h4>BTC Conversion Submitted : {{ btc_conversion_submitted }} BTC</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Bazaar Creation</strong></div>
                <div class="card-body">
                    <form class="form-horizontal" [formGroup]="angForm" novalidate (ngSubmit)="submitFunc()">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="bz_photo">Add Photo</label>
                            <div class="col-md-9">
                                <input #bz_photo type="file" class="form-control" id="bz_photo" formControlName="bz_photo" accept="image/*" name="bz_photo" hidden (change)="preview(bz_photo.files);bz_uploader.uploadAll()" ng2FileSelect [uploader]="bz_uploader" />
                                <img [src]="imgURL || 'http://placehold.it/350X150'" height="150px;" width="350px;" alt="Bazaar Image" />
                                <label for="bz_photo" style="margin-left: 30px;"><strong>Select Bazaar Photo By Clicking Here</strong></label>
                            </div>
                        </div>
                        <div *ngIf="angForm.controls['bz_photo'].invalid && (angForm.controls['bz_photo'].dirty || angForm.controls['bz_photo'].touched)" class="alert text-center">
                            <div *ngIf="angForm.controls['bz_photo'].errors.required">
                                * Please Select Photo!
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="bz_name">Bazaar Name</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" formControlName="bz_name" #bz_name placeholder="Enter Bazaar Name..">
                            </div>
                        </div>
                        <div *ngIf="angForm.controls['bz_name'].invalid && (angForm.controls['bz_name'].dirty || angForm.controls['bz_name'].touched)" class="alert text-center">
                            <div *ngIf="angForm.controls['bz_name'].errors.required">
                                * Bazaar Name is required!
                            </div>
                            <div *ngIf="angForm.controls['bz_name'].errors.minlength">
                                * Please more type!
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="city">City Information</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" formControlName="city" #city placeholder="Enter City..">
                            </div>
                        </div>
                        <div *ngIf="angForm.controls['city'].invalid && (angForm.controls['city'].dirty || angForm.controls['city'].touched)" class="alert text-center">
                            <div *ngIf="angForm.controls['city'].errors.required">
                                * City Information is required!
                            </div>
                            <div *ngIf="angForm.controls['city'].errors.minlength">
                                * Please more type!
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="address">Address Information</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" formControlName="address" #address placeholder="Enter Address..">
                            </div>
                        </div>
                        <div *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)" class="alert text-center">
                            <div *ngIf="angForm.controls['address'].errors.required">
                                * Address is required!
                            </div>
                            <div *ngIf="angForm.controls['address'].errors.minlength">
                                * Please more type!
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="shop_rule">Shop Rule</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="7" formControlName="shop_rule" #shop_rule placeholder="Enter Shop Rule.."></textarea>
                            </div>
                        </div>
                        <div *ngIf="angForm.controls['shop_rule'].invalid && (angForm.controls['shop_rule'].dirty || angForm.controls['shop_rule'].touched)" class="alert text-center">
                            <div *ngIf="angForm.controls['shop_rule'].errors.required">
                                * Shop Rule is required!
                            </div>
                            <div *ngIf="angForm.controls['shop_rule'].errors.minlength">
                                * Please more type!
                            </div>
                        </div>
                        <div *ngIf='loading' class='loading'>
                            <img class='img-fluid' src='assets/loading.gif' alt="" />
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary mt-10" type="submit" [disabled]="angForm.pristine || angForm.invalid">
                                    Create Bazaar Now
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="btc_conversion_submitted >= socket.BtcConversionTarget && bazaar_flag">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <strong>Bazaar</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action" id="list-bazaar-home" data-toggle="tab" href="#bazaar-home" role="tab" aria-controls="bazaar-home" aria-selected="false">Bazaar Home</a>
                                <a class="list-group-item list-group-item-action active" id="list-bazaar-product-post" data-toggle="tab" href="#bazaar-product-post" role="tab" aria-controls="bazaar-product-post" aria-selected="true">Bazaar Product Posting</a>
                                <a class="list-group-item list-group-item-action" id="list-pre-checkout-order" data-toggle="tab" href="#pre-checkout-order" role="tab" aria-controls="pre-checkout-order">Pre Checkout Orders</a>
                                <a class="list-group-item list-group-item-action" id="list-open-orders" data-toggle="tab" href="#open-orders" role="tab" aria-controls="open-orders">Open Orders</a>
                                <a class="list-group-item list-group-item-action" id="list-unclaimed-orders" data-toggle="tab" href="#unclaimed-orders" role="tab" aria-controls="unclaimed-orders">Unclaimed Orders</a>
                                <a class="list-group-item list-group-item-action" id="list-claimed-orders" data-toggle="tab" href="#claimed-orders" role="tab" aria-controls="claimed-orders">Claimed Orders</a>
                                <a class="list-group-item list-group-item-action" id="list-sales-inventory" data-toggle="tab" href="#sales-inventory" role="tab" aria-controls="sales-inventory">Sales Inventory</a>
                                <a class="list-group-item list-group-item-action" id="list-indirect-savings" data-toggle="tab" href="#indirect-savings" role="tab" aria-controls="indirect-savings">Indirect Savings</a>
                                <a class="list-group-item list-group-item-action" id="list-personal-agent-savings" data-toggle="tab" href="#personal-agent-savings" role="tab" aria-controls="personal-agent-savings">Personal & Agent Savings</a>
                                <a class="list-group-item list-group-item-action" id="list-promo-items" data-toggle="tab" href="#promo-items" role="tab" aria-controls="promo-items">Promo Items</a>
                                <a class="list-group-item list-group-item-action" id="list-top-rewards" data-toggle="tab" href="#top-rewards" role="tab" aria-controls="top-rewards">Top 10 Rewards</a>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade" id="bazaar-home" role="tabpanel" aria-labelledby="list-bazaar-home">
                                    <app-bazaar-home></app-bazaar-home>
                                </div>
                                <div class="tab-pane fade active show" id="bazaar-product-post" role="tabpanel" aria-labelledby="list-bazaar-product-post">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Bazaar Product Posting</strong></div>
                                        <div class="card-body">
                                            <form class="form-horizontal" [formGroup]="bzp_angForm" (ngSubmit)="submitProd(total_indirect_savings.value)">
                                                <div class="col-md-12">
                                                    <div class="card border-info text-center">
                                                        <div class="card-body">
                                                            <h5>Note: Profit of sellers will depend on PHPC market exchange and conversion timing.</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="card text-white bg-danger text-center">
                                                            <div class="card-body">
                                                                <strong>1 LC : {{ socket.lc_btc | number:'0.0-15' }} BTC</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="card text-white bg-success text-center">
                                                            <div class="card-body">
                                                                <strong>1 LC : {{ socket.btc_usd * socket.lc_btc * currencyValue | number:'0.4-4' }} {{ curCode }}</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="card text-white bg-dark text-center">
                                                            <div class="card-body">
                                                                <strong>1 BTC : {{ socket.btc_usd | number:'0.4-4' }} USD</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="card text-white bg-primary text-center">
                                                            <div class="card-body">
                                                                <strong>LC Balance : {{ lc_balance }} LC</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="bzp_photo">Add Photo</label>
                                                    <div class="col-md-9">
                                                        <input #bzp_photo type="file" class="form-control" id="bzp_photo" formControlName="bzp_photo" accept="image/*" name="bzp_photo" hidden (change)="preview(bzp_photo.files);bzp_uploader.uploadAll();" ng2FileSelect [uploader]="bzp_uploader" />
                                                        <img [src]="imgURL || 'http://placehold.it/350X150'" height="150px;" width="350px;" alt="Bazaar Product Image" />
                                                        <label for="bzp_photo" style="margin-left: 30px;"><strong>Select Photo By Clicking Here</strong></label>
                                                    </div>
                                                </div>
                                                <div *ngIf="bzp_angForm.controls['bzp_photo'].invalid && (bzp_angForm.controls['bzp_photo'].dirty || bzp_angForm.controls['bzp_photo'].touched)" class="alert text-center">
                                                    <div *ngIf="bzp_angForm.controls['bzp_photo'].errors.required">
                                                        * Bazaar Product Photo is required!
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="bp_name">Product Name</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="text" formControlName="bp_name" #bp_name placeholder="Enter Product Name..">
                                                    </div>
                                                </div>
                                                <div *ngIf="bzp_angForm.controls['bp_name'].invalid && (bzp_angForm.controls['bp_name'].dirty || bzp_angForm.controls['bp_name'].touched)" class="alert text-center">
                                                    <div *ngIf="bzp_angForm.controls['bp_name'].errors.required">
                                                        * Product Name is required!
                                                    </div>
                                                    <div *ngIf="bzp_angForm.controls['bp_name'].errors.minlength">
                                                        * Please more type!
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="availability">Availability</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="text" formControlName="availability" #availability placeholder="Enter number of product stock 5 or above..">
                                                    </div>
                                                </div>
                                                <div *ngIf="bzp_angForm.controls['availability'].invalid && (bzp_angForm.controls['availability'].dirty || bzp_angForm.controls['availability'].touched)" class="alert text-center">
                                                    <div *ngIf="bzp_angForm.controls['availability'].errors.required">
                                                        * Availability is required!
                                                    </div>
                                                    <div *ngIf="bzp_angForm.controls['availability'].errors.min || bzp_angForm.controls['availability'].invalid">
                                                        * Invalid Number. Availability value have to be over 5
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="initial_cc_price">Initial CC Price {{ curCode }}</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="text" formControlName="initial_cc_price" #initial_cc_price (keyup)="cc_lc_Change(initial_cc_price.value)" placeholder="Enter Product price base on your country currency price..">
                                                    </div>
                                                </div>
                                                <div *ngIf="bzp_angForm.controls['initial_cc_price'].invalid && (bzp_angForm.controls['initial_cc_price'].dirty || bzp_angForm.controls['initial_cc_price'].touched)" class="alert text-center">
                                                    <div *ngIf="bzp_angForm.controls['initial_cc_price'].errors.required">
                                                        * Initial CC Price is required!
                                                    </div>
                                                    <div *ngIf="bzp_angForm.controls['initial_cc_price'].errors.min || bzp_angForm.controls['initial_cc_price'].invalid">
                                                        * Invalid Value. Initial CC Price must be over 0.
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="control_cc_price">Controlled CC Price ({{ curCode }})</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="number" readonly #control_cc_price value="{{ auto_control_cc_price }}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="initial_lc_price">Initial LC Price (LC)</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="number" readonly #initial_lc_price value="{{ auto_initial_lc_price / (socket.btc_usd * socket.lc_btc * currencyValue) }}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="control_lc_price">Controlled LC Price (LC)</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="number" readonly #control_lc_price value="{{ auto_control_lc_price / (socket.btc_usd * socket.lc_btc * currencyValue) }}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="lc_cc">1 LC To Country Currency</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="number" readonly #lc_cc value="{{ socket.btc_usd * socket.lc_btc * currencyValue | number:'0.4-4' }}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="lc_btc">1 LC To BTC</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="number" readonly value="{{ socket.lc_btc | number:'0.0-15' }}" #lc_btc>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="assigned_savings">Assigned Savings</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="text" formControlName="assigned_savings" #assigned_savings value="{{ auto_assigned_savings}}" (keyup)="saving_Change(assigned_savings.value, 0)" placeholder="Enter number 18 - 36..">
                                                    </div>
                                                </div>
                                                <div *ngIf="bzp_angForm.controls['assigned_savings'].invalid && (bzp_angForm.controls['assigned_savings'].dirty)" class="alert text-center">
                                                    <div *ngIf="bzp_angForm.controls['assigned_savings'].errors.required">
                                                        * Assigned Savings is required!
                                                    </div>
                                                    <div *ngIf="bzp_angForm.controls['assigned_savings'].errors.min || bzp_angForm.controls['assigned_savings'].errors.max || bzp_angForm.controls['assigned_savings'].invalid">
                                                        * Invalid Value. A ssigned Savings is 18 - 36 </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="agent_savings">Agent Savings</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="text" formControlName="agent_savings" #agent_savings value="{{ auto_agent_savings }}" (keyup)="saving_Change(agent_savings.value, 1)" placeholder="Enter number 1 - 5..">
                                                    </div>
                                                </div>
                                                <div *ngIf="bzp_angForm.controls['agent_savings'].invalid && (bzp_angForm.controls['agent_savings'].dirty)" class="alert text-center">
                                                    <div *ngIf="bzp_angForm.controls['agent_savings'].errors.required">
                                                        * Agent Savings is required!
                                                    </div>
                                                    <div *ngIf="bzp_angForm.controls['agent_savings'].errors.min || bzp_angForm.controls['agent_savings'].errors.max || bzp_angForm.controls['agent_savings'].invalid">
                                                        * Invalid Value. A gent Savings is 1 -5 </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="personal_savings">Personal Savings</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="number" readonly value="{{ auto_personal_savings }}" #personal_savings>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="indirect_savings">Indirect Savings</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="number" readonly value="{{ auto_indirect_savings }}" #indirect_savings>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="total_product_costs">Total Product Costs</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="number" readonly #total_product_costs value="{{ availability.value * initial_cc_price.value }}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="total_indirect_savings">Total Indirect Savings</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="number" readonly #total_indirect_savings value="{{ availability.value * initial_cc_price.value * auto_assigned_savings / 100 / (socket.btc_usd * socket.lc_btc * currencyValue) }}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label" for="product_description">Product Description</label>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" rows="7" formControlName="product_description" #product_description placeholder="Enter Product Description.."></textarea>
                                                    </div>
                                                </div>
                                                <div *ngIf="bzp_angForm.controls['product_description'].invalid && (bzp_angForm.controls['product_description'].dirty || bzp_angForm.controls['product_description'].touched)" class="alert text-center">
                                                    <div *ngIf="bzp_angForm.controls['product_description'].errors.required">
                                                        * Product Description is required!
                                                    </div>
                                                    <div *ngIf="bzp_angForm.controls['product_description'].errors.minlength">
                                                        * Please more type!
                                                    </div>
                                                </div>
                                                <div class="alert alert-success text-center" style="color:white" *ngIf="showSuccess == true">
                                                    {{ success.message }}
                                                </div>
                                                <div *ngIf='loading' class='loading'>
                                                    <img class='img-fluid' src='assets/loading.gif' alt="" />
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <div *ngIf="total_indirect_savings.value > lc_balance; else sub_enable">
                                                            <button class="btn btn-primary mt-10" type="submit" disabled>
                                                                Product Post
                                                            </button>
                                                            <div class="alert">
                                                                * Your BTC Balance is not enough. Please charge.
                                                            </div>
                                                        </div>
                                                        <ng-template #sub_enable>
                                                            <button class="btn btn-primary mt-10" type="submit" [disabled]="bzp_angForm.invalid">
                                                                Product Post
                                                            </button>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pre-checkout-order" role="tabpanel" aria-labelledby="list-pre-checkout-order">
                                    <app-pre-checkout-orders></app-pre-checkout-orders>
                                </div>
                                <div class="tab-pane fade" id="open-orders" role="tabpanel" aria-labelledby="list-open-orders">
                                    <app-open-orders></app-open-orders>
                                </div>
                                <div class="tab-pane fade" id="unclaimed-orders" role="tabpanel" aria-labelledby="list-unclaimed-orders">
                                    <app-unclaimed-orders></app-unclaimed-orders>
                                </div>
                                <div class="tab-pane fade" id="claimed-orders" role="tabpanel" aria-labelledby="list-claimed-orders">
                                    <app-claimed-orders></app-claimed-orders>
                                </div>
                                <div class="tab-pane fade" id="sales-inventory" role="tabpanel" aria-labelledby="list-sales-inventory">
                                    <app-sales-inventory></app-sales-inventory>
                                </div>
                                <div class="tab-pane fade" id="indirect-savings" role="tabpanel" aria-labelledby="list-indirect-savings">
                                    <app-indirect-savings></app-indirect-savings>
                                </div>
                                <div class="tab-pane fade" id="personal-agent-savings" role="tabpanel" aria-labelledby="list-personal-agent-savings">
                                    <app-personal-agent-savings></app-personal-agent-savings>
                                </div>
                                <div class="tab-pane fade" id="promo-items" role="tabpanel" aria-labelledby="list-promo-items">
                                    <app-promo-items></app-promo-items>
                                </div>
                                <div class="tab-pane fade" id="top-rewards" role="tabpanel" aria-labelledby="list-top-rewards">
                                    <app-top-rewards></app-top-rewards>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>