<div class="row">
    <div class="col-12 col-md-12 text-center">
        <h2><strong>How It Works?</strong></h2>
    </div>
</div>
<hr>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card border-primary">
                <div class="card-header">
                    <strong>People Helping People As Inflation Controller</strong>
                </div>
                <div class="card-body">
                    <p>
                        User can participate in buying & selling products in online community. Seller can create bazaar display page & able to post respective products & services. The system will charge the posting costs of commodities base on the price being displayed in the
                        page. Charges will vary from 18 percent to 36 percent base on the commodity price.
                        <br> Buyer can buy products in the website using <strong>“Crypto Currency”</strong> payment. Buyer will be having load to his/her “PHPC” wallet in order to do purchasing commodities. Prices of commodities inside the website is
                        <strong>“VOLATILE”</strong> depends on the market performance of crypto currency in the market. The commodity prices will drop once the <strong>“PHPC”</strong> price increased and the price of commodity will rise once the
                        <strong>“PHPC”</strong> price decreased. But buyer can still buy the commodities inside the website by setting the desired buying price at their affordable price to pay. Meaning buyer can set price into their desired lower price.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card border-success">
                <div class="card-header">
                    <strong>People Helping People As Employer & Job Seeker</strong>
                </div>
                <div class="card-body">
                    <p>
                        User of this website can post their skills, ability & talent as a job seeker. The other way around users can also post job vacancies if they want to hire some people in an specific field of works, then comply their requirements along the way of hiring
                        transactions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card border-warning">
                <div class="card-header">
                    <strong>People Helping People As Alkansya or Coin Bank</strong>
                </div>
                <div class="card-body">
                    <p>
                        User can do savings by loading <strong>“Crypto Currency”</strong> wallet & convert from <strong>“BTC Wallet” to “PHPC Wallet”</strong>. After conversion of “BTC”, check the price value of “PHPC” at the time of conversion. The user
                        can reconvert the coin from <strong>“PHPC Wallet” back to “BTC Wallet”</strong> once the price of “PHPC” will reach to 25% increase from the time of “BTC” conversion submitted. Example: conversion price from “BTC Wallet” is 1 PHPC
                        = 0.00001653. So do this mathematics, 1653 multiply to 0.25 the answer is 413.25. Now you only get the whole number and add the whole number to the price of conversion you did, 1653 add the 413 the answer is 2,066. Now the target
                        conversion price from “PHPC Wallet” to “BTC Wallet” is 2,066. Once the price is 0.00002066 you can proceed the conversion from “PHPC Wallet” to “BTC Wallet”. If the user follow the said conversion rule religiously, the “Crypto
                        Currency” load balance will increased by its value.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card border-danger">
                <div class="card-header">
                    <strong>People Helping People As Rewarding Commodities</strong>
                </div>
                <div class="card-body">
                    <p>
                        User can participate in buying, selling & leadership of consumers. Top 10 from buyers, sellers, & network leaders will receive reward base on the sales. Reward program will be daily, weekly & monthly sales base.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>