<form class="pt-3 " (ngSubmit)="send()">
			  <div class="form-group text-center">
			    <label for="exampleInputEmail1">Set Desired LC Price To Convert</label>
			    <div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <button class="btn btn-outline-secondary" type="button" id="button-addon1" style="width: 50px" (click)="addRate(-1)">-</button>
				  </div>
				  <input type="text" class="form-control text-center" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" name="rate" [(ngModel)]="rate">

				  <div class="input-group-append">
				    <button class="btn btn-outline-secondary" type="button" id="button-addon1" style="width: 50px" (click)="addRate(1)">+</button>
				  </div>
				</div>
			  </div>
			  <div class="form-group text-center">
			    <label for="amount_lc">Desired LC Amount To Convert</label>
			    <input type="text" class="form-control text-center" id="amount_lc" name="amount_lc" [(ngModel)]="amount_lc">
			  </div>
			  <div class="form-group text-center">
			    <label for="amount_lc">LC With Fee Deducted</label>
			    <input type="text" class="form-control text-center" id="amount_lc_with_deduct" value="{{(amount_lc * (1-socket.multiplier.CF)) | number:'0.0-4'}}" disabled="">
			  </div>
			  <div class="form-group text-center">
			    <label for="amount_btc">Total BTC Price To Receive</label>
			    <input type="text" class="form-control text-center" id="amount_btc" value="{{getReceive() | number:'0.0-12'}}" disabled="">
			  </div>
			  <div class="form-group">
			  	<label>Conversion Limit: {{ conversion_limit | number:'0.8-8' }} BTC</label>
			  </div>
			  <div class="form-group">
			  	<label>BTC Balance: {{ btc_balance | number:'0.8-8' }} BTC</label>
			  </div>
			  <div class="form-group">
			  	<label>LC Balance: {{ lc_balance | number:'0.0-4' }} LC</label>
			  </div>
			  <div class="form-group">
			  	<label>1 LC: {{ lc_btc | number:'0.0-15' }} BTC</label>
			  </div>
			  <div class="form-group">
			  	<div  *ngIf='showError' class=" alert alert-danger mt-2" role="alert">
		            {{error.message}}
		        </div> 
		        <div  *ngIf='showResult' class=" alert alert-success mt-2" role="alert">
		            {{result.message}}
		        </div> 
			  </div>
			  <div class="form-group">
			  	<div class="alert alert-info mt-2" role="alert" *ngIf="getReceive() < 0.001">
			  		Minimum Conversion BTC value is 0.001.
			  	</div>
			  	<div class="alert alert-info mt-2" role="alert" *ngIf="amount_lc*1 > lc_balance">
			  		Insufficient Fund.
			  	</div>
			  	<div class="alert alert-info mt-2" role="alert" *ngIf="buttonlock==true">
			  		System is busy.
			  	</div>
			  	<div class="alert alert-info mt-2" role="alert" *ngIf="getReceive() > conversion_limit">
			  		Conversion limit exceeded! Please check your open order list.
			  	</div>
			  	<div class="alert alert-info mt-2" role="alert" *ngIf="getReceive() > btc_stocks">
			  		Low Market Demand.
			  	</div>
			  </div>
			  <div class="form-group">
			  	<button 
			  		class="btn btn-success" 
			  		type="submit"
			  		[disabled]="getReceive() < 0.001 || amount_lc*1 > lc_balance || buttonlock==true || getReceive() > conversion_limit || getReceive() > btc_stocks"
			  		>
			  		Proceed To Conversion
			  	</button>
			  </div>
			  <div class="form-group">
			  	<p class="text-muted">Important: LC amount to receive will multiply to {{ socket.multiplier.CF }} the answer will be your "Conversion Fee" deducated to LC balance.</p>
			  </div>
			</form>