<div class="row">
    <div class="search-hero col-md-12 col-sm-12">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search product name, bazaar name, purchased date...">
    </div>
</div>

<div class="row  mb-10">
    <div class="col-sm-6 col-md-6">
        <div class="card text-white bg-success text-center">
            <div class="card-body">
                <strong>1 LC : {{ socket.lc_btc | number:'0.0-15' }} BTC</strong>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="card text-white bg-primary text-center">
            <div class="card-body">
                <strong>Overall Product Purchased : {{ overallProductPurchased }} LC</strong>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center" *ngIf="!claimOrders.length; else display_products">
        <strong>* There is no claim order.</strong>
    </div>
    <ng-template #display_products>
        <div class="col-md-4" *ngFor="let bzp of claimOrders | keyvalue | filter:searchText">
            <div class="card mb-4 text-white bg-dark">
                <img class="card-img-top" src="assets/{{ bzp.value.Pro_Info[0].bzp_photo }}" alt="bzp.value.Pro_Info[0].bp_name">
                <div class="card-body">
                    <h5 class="card-title text-success">Order No : {{ bzp.value.orderid }}</h5>
                    <h5 class="card-title text-success">Bazaar # : {{ bzp.value.Pro_Info[0].userid }}</h5>
                    <h5 class="card-title text-success">Bazaar Name : {{ bzp.value.Baz_Info[0].bz_name }}</h5>
                    <h5 class="card-title text-success">Product Name : {{ bzp.value.Pro_Info[0].bp_name }}</h5>
                    <h5 class="card-title text-success">Claim Code : {{ bzp.value.claim }}</h5>
                    <h5 class="card-title text-success">Bought @ Controlled LC : {{ bzp.value.buy_controlled_lc_price }} LC</h5>
                    <h5 class="card-title text-success">Bought @ Controlled CC : {{ bzp.value.buy_controlled_cc_price }} {{ curCode }}</h5>
                    <h5 class="card-title text-success">Quantity : {{ bzp.value.quantity }}</h5>
                    <h5 class="card-title text-success">Total Paid CC Price : {{ bzp.value.total_payable_cc_price }} {{ curCode}} </h5>
                    <h5 class="card-title text-success">Total Paid LC : {{ bzp.value.lcamount }} LC</h5>
                    <h5 class="card-title text-success">TAS : {{ bzp.value.tas }} LC</h5>
                    <h5 class="card-title text-success">TPS : {{ bzp.value.tps }} LC</h5>
                    <h5 class="card-title text-success">Bid Placed Date : {{ bzp.value.date | date : 'medium' }}</h5>
                    <h5 class="card-title text-success">Claimed Date : {{ bzp.value.update_time | date : 'medium' }}</h5>
                    <h5 class="card-title">Availability : {{ bzp.value.Pro_Info[0].availability }}</h5>
                    <h5 class="card-title">Initial LC Price : {{ bzp.value.Pro_Info[0].initial_lc_price }} LC</h5>
                    <h5 class="card-title">Controlled LC Price : {{ bzp.value.Pro_Info[0].initial_cc_price / (socket.btc_usd * socket.lc_btc * currencyValue | number:'0.4-4') }} LC</h5>
                    <h5 class="card-title">Initial CC Price : {{ bzp.value.Pro_Info[0].initial_cc_price }} {{ curCode }}</h5>
                    <h5 class="card-title">Controlled CC Price : {{ bzp.value.Pro_Info[0].initial_cc_price / (socket.btc_usd * socket.lc_btc * currencyValue | number:'0.4-4') * bzp.value.Pro_Info[0].lc_cc }} {{ curCode }}</h5>
                    <h5 class="card-title">Personal Savings : {{ bzp.value.Pro_Info[0].personal_savings }} %</h5>
                    <h5 class="card-title">Agent Savings : {{ bzp.value.Pro_Info[0].agent_savings }} %</h5>
                    <h5 class="card-title">Present 1 LC to CC : {{ socket.btc_usd * socket.lc_btc * currencyValue | number:'0.4-4' }} {{ curCode }}</h5>
                    <h5 class="card-title">Present 1 LC to BTC : {{ socket.lc_btc | number:'0.0-15' }} BTC</h5>
                </div>
            </div>
        </div>
    </ng-template>
</div>