@import '../node_modules/ngx-toastr/toastr.css';
.loading {
    max-width: 100px;
    margin: 0 auto;
}

.error-message {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.alert-danger {
    color: #ffffff;
    background-color: #f55858;
    border-color: #ffffff;
}

.alert-success {
    color: #ffffff;
    background-color: #4dbd74;
    border-color: #ffffff;
}

.ml-10 {
    margin-left: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-2 {
    margin-left: 2px;
}

.mt-30 {
    margin-top: 30px;
}

.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: #2cbef1;
}

.table-success,
.table-success>th,
.table-success>td {
    background-color: #79ffa7;
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}