<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="card">
                <div class="card-header">
                    <strong>Forgot Password</strong>
                </div>
                <div class="card-body col-md-10 offset-1">
                    <form [formGroup]="angForm" novalidate class="form-horizontal">
                        <div class="form-group">
                            <label class="form-col-form-label" for="email">Eamil</label>
                            <input class="form-control" id="email" type="email" formControlName="email" #email placeholder="Please type your email address">
                        </div>
                        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
                            <div *ngIf="angForm.controls['email'].errors.required">
                                * Email is required!
                            </div>
                            <div *ngIf="angForm.controls['email'].errors.email">
                                * Email is not valid!
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-danger" (click)="recovery(email.value)" [disabled]="angForm.pristine || angForm.invalid">
                                  Password Recovery
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>